.rainbow {
	font-size: 1.5em;
	--border-size: 0.2rem;
	border: var(--border-size) solid transparent;
	background-image: linear-gradient(
			to right,
			rgb(0 0 0 / var(--opacity)),
			rgb(0 0 0 / var(--opacity))
		),
		conic-gradient(
			from var(--angle),
			#d53e33 0deg 90deg,
			#fbb300 90deg 180deg,
			#377af5 180deg 270deg,
			#399953 270deg 360deg
		);
	background-origin: border-box;
	background-clip: padding-box, border-box;
}
/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
	@property --opacity {
		syntax: '<number>';
		initial-value: 0.5;
		inherits: false;
	}

	@property --angle {
		syntax: '<angle>';
		initial-value: 0deg;
		inherits: false;
	}

	@keyframes opacityChange {
		to {
			--opacity: 1;
		}
	}

	@keyframes rotate {
		to {
			--angle: 360deg;
		}
	}

	.rainbow {
		animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
	}
}
